Connected Services/PalabraServiceRef/PalabraService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPalabraDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PalabraDTO" nillable="true" type="tns:PalabraDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPalabraDTO" nillable="true" type="tns:ArrayOfPalabraDTO" />
  <xs:complexType name="PalabraDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
      <xs:element minOccurs="0" name="descripcionEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPalabra" type="xs:int" />
      <xs:element minOccurs="0" name="palabraEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="palabraES" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PalabraDTO" nillable="true" type="tns:PalabraDTO" />
  <xs:complexType name="ArrayOfCategoriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoriaDTO" nillable="true" type="tns:CategoriaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoriaDTO" nillable="true" type="tns:ArrayOfCategoriaDTO" />
  <xs:complexType name="CategoriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="categoriaES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriaDTO" nillable="true" type="tns:CategoriaDTO" />
</xs:schema>