Connected Services/PalabraServiceRef/PalabraService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54669/Servicios/PalabraService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" />
  <xs:element name="ObtenerPalabrasPorCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPalabrasPorCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" minOccurs="0" name="ObtenerPalabrasPorCategoriaResult" nillable="true" type="q1:ArrayOfPalabraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCategorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" minOccurs="0" name="ObtenerCategoriasResult" nillable="true" type="q2:ArrayOfCategoriaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosPalabra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="palabraID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosPalabraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" minOccurs="0" name="ObtenerDatosPalabraResult" nillable="true" type="q3:PalabraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>