Connected Services/EstadisticasServiceRef/EstadisticasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54669/Servicios/EstadisticasService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" />
  <xs:element name="ObtenerClasificacionPuntos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClasificacionPuntosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" minOccurs="0" name="ObtenerClasificacionPuntosResult" nillable="true" type="q1:ArrayOfEstadisticasDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClasificacionVictorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClasificacionVictoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" minOccurs="0" name="ObtenerClasificacionVictoriasResult" nillable="true" type="q2:ArrayOfEstadisticasDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadisticaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="puntosOrVictorias" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadisticaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" minOccurs="0" name="ObtenerEstadisticaUsuarioResult" nillable="true" type="q3:EstadisticasDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jugadorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" minOccurs="0" name="ObtenerHistorialResult" nillable="true" type="q4:ArrayOfHistorialDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>