Connected Services/EstadisticasServiceRef/EstadisticasService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEstadisticasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstadisticasDTO" nillable="true" type="tns:EstadisticasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstadisticasDTO" nillable="true" type="tns:ArrayOfEstadisticasDTO" />
  <xs:complexType name="EstadisticasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="posicion" type="xs:int" />
      <xs:element minOccurs="0" name="puntos" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadisticasDTO" nillable="true" type="tns:EstadisticasDTO" />
  <xs:complexType name="ArrayOfHistorialDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistorialDTO" nillable="true" type="tns:HistorialDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistorialDTO" nillable="true" type="tns:ArrayOfHistorialDTO" />
  <xs:complexType name="HistorialDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoPartida" type="xs:int" />
      <xs:element minOccurs="0" name="fechaPartida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="palabra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="puntos" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioContrincante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistorialDTO" nillable="true" type="tns:HistorialDTO" />
</xs:schema>