Connected Services/PartidaServiceRef/PartidaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54669/Servicios/PartidaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" />
  <xs:import schemaLocation="http://localhost:54669/Servicios/PartidaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:54669/Servicios/PartidaService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CrearPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
        <xs:element minOccurs="0" name="idPalabra" type="xs:int" />
        <xs:element minOccurs="0" name="nombrePartida" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idIdioma" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPartidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearPartidaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPartidasDisponibles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPartidasDisponiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" minOccurs="0" name="ObtenerPartidasDisponiblesResult" nillable="true" type="q1:ArrayOfPartidaLobbyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirseAPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" type="xs:int" />
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirseAPartidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" minOccurs="0" name="UnirseAPartidaResult" nillable="true" type="q2:PartidaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProponerLetra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" type="xs:int" />
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="letra" type="q3:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JuzgarLetra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" type="xs:int" />
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
        <xs:element minOccurs="0" name="decisionEsCorrecta" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbandonarPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" type="xs:int" />
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbandonarPartidaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarJugadorUnido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServidorAhorcado.DTO" minOccurs="0" name="partida" nillable="true" type="q4:PartidaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarLetraParaJuzgar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="letra" type="q5:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarLetraPropuesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="letra" type="q6:char" />
        <xs:element minOccurs="0" name="esCorrecta" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="progresoPalabra" nillable="true" type="q7:ArrayOfchar" />
        <xs:element minOccurs="0" name="intentosFallidos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarErrorJuicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="letra" type="q8:char" />
        <xs:element minOccurs="0" name="eraCorrecta" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarFinPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estadoFinal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>